body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:660px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:71px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:318px;
  width:76px;
  height:71px;
  display:flex;
}
#u540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:318px;
  width:76px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:142px;
  background:inherit;
  background-color:rgba(26, 25, 31, 0.0980392156862745);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(26, 25, 31, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 ', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1A191F;
  text-align:left;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:318px;
  width:233px;
  height:142px;
  display:flex;
  font-family:'苹方 ', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1A191F;
  text-align:left;
}
#u542 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:322px;
  width:26px;
  height:26px;
  display:flex;
  font-family:'苹方 ', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:287px;
  width:26px;
  height:26px;
  display:flex;
  font-family:'苹方 ', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
